<div class="flex items-center justify-center min-h-screen bg-gray-100 p-6">
  <div class="bg-white p-8 rounded-lg shadow-xl w-full max-w-md">
    <h2 class="text-3xl font-bold text-center text-gray-800 mb-6">Create Your Account</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="name" class="block text-gray-700 font-semibold mb-2">Name</label>
        <input
          formControlName="name"
          type="text"
          id="name"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
          placeholder="Enter your full name"
          required
        />
        @if (registerForm.controls['name'].invalid) {
        <div>
          <small class="text-red-500" *ngIf="registerForm.controls['name'].errors?.['required']"
            >Name is required</small
          >
          <small class="text-red-500" *ngIf="registerForm.controls['name'].errors?.['maxlength']"
            >Maximum length is 20 chars</small
          >
        </div>
        }
      </div>

      <div class="mb-4">
        <label for="email" class="block text-gray-700 font-semibold mb-2">Email</label>
        <input
          formControlName="email"
          type="email"
          id="email"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
          placeholder="Enter your email address"
          required
        />
        @if (registerForm.controls['email'].invalid) {
        <div>
          <small class="text-red-500" *ngIf="registerForm.controls['email'].errors?.['required']"
            >Email is required</small
          >
          <small class="text-red-500" *ngIf="registerForm.controls['email'].errors?.['email']"
            >Invalid email format</small
          >
        </div>
        }
      </div>

      <div class="mb-4">
        <label for="password" class="block text-gray-700 font-semibold mb-2">Password</label>
        <input
          formControlName="password"
          type="password"
          id="password"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
          placeholder="Create a password"
          required
        />
        @if (registerForm.controls['password'].invalid) {
        <div>
          <small class="text-red-500" *ngIf="registerForm.controls['password'].errors?.['required']"
            >Password is required</small
          >
          <small
            class="text-red-500"
            *ngIf="registerForm.controls['password'].errors?.['minlength']"
            >Password must be at least 6 chars</small
          >
        </div>
        }
      </div>

      <div class="mb-4">
        <label for="confirm_password" class="block text-gray-700 font-semibold mb-2"
          >Confirm Password</label
        >
        <input
          type="password"
          formControlName="confirm_password"
          id="confirm_password"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
          placeholder="Confirm your password"
          required
        />
        @if (registerForm.controls['confirm_password'].invalid) {
        <div>
          <small
            class="text-red-500"
            *ngIf="registerForm.controls['confirm_password'].errors?.['required']"
            >confirmPassword is required</small
          >
        </div>
        }
        <div *ngIf="registerForm.errors?.['passwordsMismatch']">
          <small class="text-red-500">Passwords do not match.</small>
        </div>
      </div>

      <div class="mb-6">
        <label for="role" class="block text-gray-700 font-semibold mb-2">I am a...</label>
        <select
          id="role"
          formControlName="role"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
          required
        >
          <option value="" disabled selected>Select your role</option>
          <option value="admin">Admin</option>
          <option value="employer">Employer</option>
          <option value="seeker">Job Seeker</option>
        </select>
        <div
          *ngIf="
            registerForm.get('role')?.invalid &&
            (registerForm.get('role')?.dirty || registerForm.get('role')?.touched)
          "
          class="text-red-500 text-sm mt-1"
        >
          Please select a role.
        </div>
      </div>

      <button
        type="submit"
        class="w-full bg-indigo-600 text-white font-semibold py-2 px-4 rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 transition duration-150"
      >
        Register
      </button>

      <div class="mb-2 mt-3 text-sm flex items-center justify-center">
        <p>
          Already have an account ?
          <a class="text-blue-500 hover:underline" [routerLink]="['/login']">login here!</a>
        </p>
      </div>
    </form>
  </div>
</div>
